.todos {
  width: 30%;
  margin: 0 auto;

  &__header {
    display: flex;
    align-items: baseline;
    border-bottom: 0.5px solid $grey;
    margin: 10px 0;

    &__date {
      color: $grey;
      margin-left: 5px;
      flex: 1 0;
    }

    &__help {
      flex-basis: 100%;
      text-align: right;
      flex: 1 0;
    }
  }

  &__new-todo-btn {
    color: $grey;

    &:hover {
      text-decoration: underline;
    }
  }
}
